.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-box);
  height: 4em;
  gap: 1em;
  padding: 0.5em;
  border-radius: 5px;
  justify-content: space-between;
}

.title,
.author {
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-size: 1.25em;
  width: 300px;
}

.author {
  font-size: 1em;
  width: 200px;
}

.isbn {
  font-size: 0.75em;
  color: var(--font-color-disabled);
}

.titleIsbnBox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.buttons {
  width: 150px;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}

.buttons > button {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}

.editButton {
  background-color: rgb(75, 155, 75);
}
.editButton:hover {
  background-color: rgb(75, 155, 75, 0.5);
}

.removeButton {
  background-color: rgb(155, 75, 75);
}
.removeButton:hover {
  background-color: rgb(155, 75, 75, 0.5);
}
